set rootdir = /data

all.adminpath $(rootdir)/xrd/var/spool/xrootd
all.pidpath   $(rootdir)/xrd/var/run/xrootd

oss.localroot  $(rootdir)/xrd/namespace

#all.export /
all.export *
all.export /root:/
all.export /xroot:/
all.export /http:/
all.export /https:/ 

ofs.osslib   libXrdPss.so
pss.cachelib libXrdPfc.so
pss.config streams 8
pss.origin =http,https
pss.namelib -lfncachesrc XrdName2NameXcacheH.so cacheLife=30
pss.ccmlib XrdName2NameXcacheH.so

pfc.ram 2g
pfc.diskusage 0.75 0.85
pfc.blocksize 4M
pfc.prefetch 0

if exec xrootd
    xrd.protocol http:8080 libXrdHttp.so
    http.trace all
fi
http.cert /etc/grid-security/xrd/xrdcert.pem
http.key /etc/grid-security/xrd/xrdkey.pem
http.cadir /etc/grid-security/certificates
http.staticpreload http://static/robots.txt /etc/xrootd/robots.txt
http.httpsmode manual
